.nav-wrapper {
    background-color: darkcyan;
}

a#save {
    margin-left: 10px;
}

.card-action a {
    color: black !important;
}
body {
    background-color: darkcyan;
    
}

.delete-button {
    margin-left: 10px;
}